.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.m {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mate {
  display: flex;
  align-items: center;
  justify-content: center;
}
