.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  height: 100vh; /* Ensure the page fills the full viewport height */
  gap: 3rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 300px;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev {
  transform: rotate(180deg);
}

.btn {
  font-size: 1.5rem;
}
