.text {
  font-size: 1.5rem; /* Adjust as needed */
  text-align: center; /* Center the text */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: inline-block; /* Ensure it aligns well within parent elements */
}

@media (max-width: 1024px) {
  .text {
    font-size: 1rem;
  }
}
